<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faragostaresh.cafeyab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/activity_about"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CafeListActivity"
            android:label="@string/activity_cafe_list"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".NewsListActivity"
            android:label="@string/activity_news_list"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EventListActivity"
            android:label="@string/activity_event_list"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".VideoListActivity"
            android:label="@string/activity_video_list"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".MapListActivity"
            android:label="@string/activity_map_list"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>